$left-color: #0095FF;
$right-color: #CC0000;
$primary-bg-color: #444;
$alert-color: $right-color;
$flip-lg-factor: 1;
$flip-md-factor: .6;
$flip-sm-factor: .3;

body {
    padding-top: 50px;
    color      : white;
    font-family: 'Lato';
    font-weight: 300;
}

input {
    color: black;
}

.left-color {
    background-color: $left-color;
}

.right-color {
    background-color: $right-color;
}

ul.flip {
    display      : inline;
    list-style   : none;
    position     : relative;
    margin       : 5px;
    width        : 60px;
    height       : 90px;
    font-size    : 80px;
    font-weight  : bold;
    line-height  : 87px;
    border-radius: 6px;
    box-shadow   : 0 2px 5px rgba(0, 0, 0, .7);

    li {
        z-index : 1;
        position: absolute;
        left    : 0;
        top     : 0;
        width   : 100%;
        height  : 100%;

        a {
            display            : block;
            height             : 100%;
            -webkit-perspective: 200px;
            perspective        : 200px;

            div {
                z-index : 1;
                position: absolute;
                left    : 0;
                width   : 100%;
                height  : 50%;
                overflow: hidden;

                div.inn {
                    position        : absolute;
                    left            : 0;
                    z-index         : 1;
                    width           : 100%;
                    height          : 200%;
                    color           : #ccc;
                    text-shadow     : 0 1px 2px #000;
                    text-align      : center;
                    background-color: #333;
                    border-radius   : 6px;
                }
            }

            div.up {
                -webkit-transform-origin: 50% 100%;
                transform-origin        : 50% 100%;
                top                     : 0;

                div.inn {
                    top: 0;
                }
            }

            div.up:after {
                content         : '';
                position        : absolute;
                top             : 44px;
                left            : 0;
                z-index         : 5;
                width           : 100%;
                height          : 3px;
                background-color: rgba(0,0,0,.75);
            }

            div.down {
                -webkit-transform-origin: 50% 0;
                transform-origin        : 50% 0;
                bottom                  : 0;

                div.inn {
                    bottom: 0;
                }
            }
        }
    }

    li:first-child {
        z-index: 2;
    }
}

ul.flip.flip-sm {
    padding    : 0 12px;
    width      : ceil($flip-sm-factor * 60px);
    height     : ceil($flip-sm-factor * 90px);
    font-size  : ceil($flip-sm-factor * 80px);
    margin     : ceil($flip-sm-factor * 5px);
    line-height: ceil($flip-sm-factor * 87px);

    li a div.up:after {
        top   : floor($flip-sm-factor * 44px);
        height: 1px;
    }
}

ul.flip.flip-md {
    width      : ceil($flip-md-factor * 60px);
    height     : ceil($flip-md-factor * 90px);
    font-size  : ceil($flip-md-factor * 80px);
    margin     : ceil($flip-md-factor * 5px);
    line-height: ceil($flip-md-factor * 87px);

    li a div.up:after {
        top   : floor($flip-md-factor * 44px);
        height: 1px;
    }
}

.picker__table {
    background-color: white;
    color           : black;

    th {
        text-align: center;
    }
}

.picker__box {
    border-radius: 0;
}

.hover-button-container {
    position: fixed;
    bottom  : 0;
    right   : 0;
}

.players-list-container {
    position     : relative;
    padding-left : 0;
    padding-right: 0;

    .players-list {
        padding-left : 0;
        padding-right: 0;

        .row {
            padding      : 10px 5px;
            border-bottom: 1px solid $primary-bg-color;
        }

        .row:first-child {
            border-top: 1px solid $primary-bg-color;
        }

        .row:hover {
            cursor: pointer;
        }
    }
}

#finalScore {
    margin-bottom: 15px;

    > div {
        padding: 10px;
    }

    #leftScore {
        background-color: $left-color;
    }

    #rightScore {
        background-color: $right-color;
    }
}

#boxScore {
    .team-name {
        padding    : 5px;
        font-family: 'Sigmar One';
    }

    .player-name {
        padding-left: 5px;
        font-family : 'Voltaire';
    }

    .player-row {
        border-top: 1px solid $primary-bg-color;
        padding   : 5px 0;
    }

    .player-row:hover {
        background-color: #666;
        cursor          : pointer;
    }

    .headers {
        background-color: $primary-bg-color;

        div {
            padding: 5px;
        }
    }

    .col-xs-2 {
        padding-left : 5px;
        padding-right: 5px;
    }
}

.popover {
    background-color: $alert-color;
}

.popover.bottom>.arrow:after {
    border-bottom-color: $alert-color;
}

.popover.top>.arrow:after {
    border-top-color: $alert-color;
}

.main-container {
    -webkit-transition: .3s -webkit-filter linear;
    transition        : .3s -webkit-filter linear;
}

.blur {
    -webkit-filter: blur(2px);
}

.no-scroll {
    overflow: hidden;
}

.overlay-loading-indicator {
    height          : 100%;
    position        : fixed;
    width           : 100%;
    top             : 0;
    left            : 0;
    background-color: rgba(0,0,0,.6);
    z-index         : 9999;
}

.overlay-container {
    height          : 100%;
    width           : 100%;
    position        : fixed;
    top             : 0;
    left            : 0;
    background-color: rgba(0,0,0,.5);
    overflow        : hidden;

    &.single-action {
        .selected-container {
            height : 100%;
            padding: 0 0 75px;
        }

        .overlay-controls-container {
            font-size  : x-large;
            font-weight: 400;
            padding-top: 10px;
            position   : absolute;
            bottom     : 0;
            width      : 100%;

            .buttons-container {
                > div {
                    padding: 0;
                }

                button {
                    width      : 100%;
                    line-height: 2.2;
                    font-size  : x-large;
                }
            }
        }

        .selected-players .row {
             :hover {
                cursor: pointer;
            }
        }
    }

    &.multiple-actions {
        .overlay-controls-container {
            .buttons-header {
                font-size     : xx-large;
                font-weight   : 400;
                padding-bottom: 10px;
                padding-top   : 10px;

                &:first-of-type {
                    padding-top: 0;
                }
            }

            .buttons-container {
                > div {
                    padding: 0;
                }

                button {
                    width      : 100%;
                    line-height: 2.2;
                    font-size  : x-large;
                }
            }
        }
    }

    .selected-players {
        padding-top: 10px;
        font-size  : large;
        font-weight: 300;
        height     : 100%;
        overflow-y : auto;
        overflow-x : hidden;

        .row {
            padding-top: 15px;

            .col-xs-12 {
                > div {
                    display: inline-block;

                    & + div {
                        margin-left: 10px;
                    }
                }
            }

            .payment-input-container {
                .payment-input {
                    background   : transparent;
                    outline      : none;
                    border       : none;
                    border-bottom: 2px dotted #666;
                    color        : yellow;
                }

                .clear-button {
                    position   : absolute;
                    top        : 50%;
                    transform  : translate3d(0, -50%, 0);
                    margin-left: 5px;
                }
            }
        }
    }
}

.btn {
    border-radius: 0 !important;
}

.btn-lg {
    padding: 12px;
}

@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }

    to {
        opacity: .0;
    }
}

.blink {
    -webkit-animation-name           : blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration       : .8s;
    -webkit-animation-delay          : 0;
    -webkit-animation-direction      : alternate;
    -webkit-animation-fill-mode      : both;
}

#cssload-contain {
    width                      : 146px;
    height                     : 49px;
    position                   : absolute;
    top                        : 0;
    right                      : 0;
    left                       : 0;
    bottom                     : 0;
    margin                     : auto;
    opacity                    : 0;
    animation                  : fadeIn 1.15s 1;
    -o-animation               : fadeIn 1.15s 1;
    -ms-animation              : fadeIn 1.15s 1;
    -webkit-animation          : fadeIn 1.15s 1;
    -moz-animation             : fadeIn 1.15s 1;
    animation-fill-mode        : forwards;
    -o-animation-fill-mode     : forwards;
    -ms-animation-fill-mode    : forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode   : forwards;
}

.cssload-wrap {
    animation        : translate 1150ms infinite ease-in-out alternate, zindex 2300ms infinite ease-in-out;
    -o-animation     : translate 1150ms infinite ease-in-out alternate, zindex 2300ms infinite ease-in-out;
    -ms-animation    : translate 1150ms infinite ease-in-out alternate, zindex 2300ms infinite ease-in-out;
    -webkit-animation: translate 1150ms infinite ease-in-out alternate, zindex 2300ms infinite ease-in-out;
    -moz-animation   : translate 1150ms infinite ease-in-out alternate, zindex 2300ms infinite ease-in-out;
    position         : absolute;
}

.cssload-ball {
    width                  : 49px;
    height                 : 49px;
    box-shadow             : 0 -6.25px 0 rgba(0,0,0,0.15) inset;
    background-color       : rgb(255,132,0);
    border-radius          : 50%;
    animation              : scale 1150ms infinite ease-in-out alternate;
    -o-animation           : scale 1150ms infinite ease-in-out alternate;
    -ms-animation          : scale 1150ms infinite ease-in-out alternate;
    -webkit-animation      : scale 1150ms infinite ease-in-out alternate;
    -moz-animation         : scale 1150ms infinite ease-in-out alternate;
    animation-delay        : -575ms;
    -o-animation-delay     : -575ms;
    -ms-animation-delay    : -575ms;
    -webkit-animation-delay: -575ms;
    -moz-animation-delay   : -575ms;
    transform              : scale(0.5);
    -o-transform           : scale(0.5);
    -ms-transform          : scale(0.5);
    -webkit-transform      : scale(0.5);
    -moz-transform         : scale(0.5);
    border                 : 2px solid black;
}

.cssload-ball:after {
    content      : '';
    width        : 49px;
    height       : 13px;
    background   : rgba(255,255,255,.2);
    position     : absolute;
    top          : 55px;
    border-radius: 50%;
}

#cssload-wrap2 {
    animation-delay        : -1150ms;
    -o-animation-delay     : -1150ms;
    -ms-animation-delay    : -1150ms;
    -webkit-animation-delay: -1150ms;
    -moz-animation-delay   : -1150ms;
}

#cssload-ball2 {
    background-color       : rgb(255,132,0);
    animation-delay        : -1725ms;
    -o-animation-delay     : -1725ms;
    -ms-animation-delay    : -1725ms;
    -webkit-animation-delay: -1725ms;
    -moz-animation-delay   : -1725ms;
}

#cssload-wrap3 {
    animation-delay        : -1725ms;
    -o-animation-delay     : -1725ms;
    -ms-animation-delay    : -1725ms;
    -webkit-animation-delay: -1725ms;
    -moz-animation-delay   : -1725ms;
}

#cssload-ball3 {
    background-color       : rgb(255,0,0);
    -webkit-animation-delay: -2300ms;
    animation-delay        : -2300ms;
}

#cssload-wrap4 {
    animation-delay        : -2875ms;
    -o-animation-delay     : -2875ms;
    -ms-animation-delay    : -2875ms;
    -webkit-animation-delay: -2875ms;
    -moz-animation-delay   : -2875ms;
}

#cssload-ball4 {
    background-color       : rgb(255,0,0);
    animation-delay        : -3450ms;
    -o-animation-delay     : -3450ms;
    -ms-animation-delay    : -3450ms;
    -webkit-animation-delay: -3450ms;
    -moz-animation-delay   : -3450ms;
}

@keyframes translate {
    100% {
        -webkit-transform: translateX(97px);
        transform        : translateX(97px);
    }
}

@-webkit-keyframes translate {
    100% {
        -webkit-transform: translateX(97px);
    }
}

@keyframes scale {
    100% {
        -webkit-transform: scale(1);
        transform        : scale(1);
    }
}

@-webkit-keyframes scale {
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes zindex {
    25% {
        z-index: 1;
    }

    75% {
        z-index: -1;
    }
}

@-webkit-keyframes zindex {
    25% {
        z-index: 1;
    }

    75% {
        z-index: -1;
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    100% {
        opacity: 1;
    }
}
